{% extends 'base.html.twig' %}

{% block title %}EEmployee index{% endblock %}

{% block body %}
    <h1>EEmployee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>Adress</th>
                <th>Position</th>
                <th>Salary</th>
                <th>BirthDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for e_employee in e_employees %}
            <tr>
                <td>{{ e_employee.id }}</td>
                <td>{{ e_employee.firstname }}</td>
                <td>{{ e_employee.lastname }}</td>
                <td>{{ e_employee.phoneNumber }}</td>
                <td>{{ e_employee.email }}</td>
                <td>{{ e_employee.adress }}</td>
                <td>{{ e_employee.position }}</td>
                <td>{{ e_employee.salary }}</td>
                <td>{{ e_employee.birthDate ? e_employee.birthDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_e_employee_show', {'id': e_employee.id}) }}">show</a>
                    <a href="{{ path('app_e_employee_edit', {'id': e_employee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_e_employee_new') }}">Create new</a>
{% endblock %}
