{% extends 'base.html.twig' %}

{% block title %}EEmployee{% endblock %}

{% block body %}
    <h1>EEmployee</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ e_employee.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ e_employee.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ e_employee.lastname }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ e_employee.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ e_employee.email }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ e_employee.adress }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ e_employee.position }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ e_employee.salary }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ e_employee.birthDate ? e_employee.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_e_employee_index') }}">back to list</a>

    <a href="{{ path('app_e_employee_edit', {'id': e_employee.id}) }}">edit</a>

    {{ include('e_employee/_delete_form.html.twig') }}
{% endblock %}
